html {
    font-size: 120%;
}

@font-face {
    font-family: "IBM Plex Sans Variable";
    src: url("/fonts/IBMPlexSans-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Variable";
    src: url("/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: "IBM Plex Sans Variable", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    line-height: 1.6rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

code {
    font-family: "JetBrains Mono";
    padding: 1.5px 1.5px;
}